section.main-banner#main-banner
  .main-banner__container#container
    .banner-item(style="background-image: url(/img/welding1.jpg)")#banner-item
    .banner-item(style="background-image: url(/img/welding2.jpg)")
    .banner-item(style="background-image: url(/img/welding3.jpg)")
  .main-banner__text
    h1.main-banner__text-title Servicios Quintero <br>Soldadura y herrería<br>en Poza Rica Veracruz