section.services-container.break-points.p-section#services
  h2(class="wow fadeInDown" data-wow-duration="2s") Servicios
  .services.mt-2
    .services-text(class="wow fadeInLeft" data-wow-duration="1s")
      p.format Brindamos servicios de soldadura y herrería de calidad, a un precio que se ajusta a su presupuesto, estructuras metálicas de tamaño chico, mediano y grande. Si está buscando bueno, bonito y barato, somos mejor que eso, compruebelo y pida una cotización para lo que necesita totalmente grátis.
      a(href="#contact").button-services.button-cta.mt-2 Contacto
    .services-right(class="wow fadeInRight" data-wow-duration="1s")
      p.mt-2.format Nos especializamos en:
      ul.services-list
        li(class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s").services-list__item: <span class="services-list__icon"><i class="fa fa-arrow-right"></i></span> Galeras
        li(class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s").services-list__item <span class="services-list__icon"><i class="fa fa-arrow-right"></i></span> Portones
        li(class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s").services-list__item <span class="services-list__icon"><i class="fa fa-arrow-right"></i></span> Protecciones

