section.experience.break-points.p-section#experience
  h2.mb-2(class="wow fadeInDown" data-wow-duration="2s") Experiencia
  .experience-flex
    .experience-flex__one(class="wow fadeInRight" data-wow-duration="1s")
      p.pharagraph Años de experiencia avalan nuestro trabajo, nuestra responsadabilidad con el cliente es brindarle la mayor transparencia en el desarrollo del trabajo, y la principal prioridad siempre será su seguridad y la de su familia.
      p.pharagraph.mt Si lo que desea es construir una pequeña galera en su patio, asegurar su casa con un portón o protección de metal, con nosotros quedará en las mejores manos, no lo dude, llame y pregunte sin compromiso que con gusto le atenderemos.
    .experience-flex__two(class="wow fadeInLeft" data-wow-duration="1s")
      img(src="/img/hands.jpg", alt="Servicios Quintero").experience-flex__img