section.break-points
  .gallery-container#gallery-container
    .gallery-item
      img(src="img/galera3.jpg" alt="Servicios Quintero galera").gallery-img
    .gallery-item
      img(src="img/porton3.jpg" alt="Servicios Quintero portón").gallery-img
    .gallery-item
      img(src="img/porton4.jpg" alt="Servicios Quintero portón").gallery-img
    .gallery-item
      img(src="img/porton5.jpg" alt="Servicios Quintero portón").gallery-img
    .gallery-item
      img(src="img/proteccion6.jpg" alt="Servicios Quintero protección").gallery-img
    .gallery-item
      img(src="img/proteccion7.jpg" alt="Servicios Quintero protección").gallery-img
      
