section.contact.mt-2.p-section#contact
  .break-points
    h2(class="wow fadeInDown" data-wow-duration="2s") Contacto
    .contact-container
      .contact-flex.mt-2(class="wow fadeInLeft" data-wow-duration="1s")
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-phone"></i></span>Teléfono oficina:
          p.format.phone (782) 11-1-21-97
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-mobile"></i></span>Celular personal:
          p.format.phone 782 242 7748
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-whatsapp"></i></span>Whatsapp:
          p.format.phone 782 886 9690
      .contact-flex.mt-2(class="wow fadeInRight" data-wow-duration="1s")
        h2.contact-text Galeras, portones y protecciones en Poza Rica y Coatzintla Ver.
        p.contact-text Trabajo 100% personalizado.
        p.contact-text LLamanos sin compromiso estamos para servirle.
        p.contact-text O envía un whatsapp <a href="https://wa.me/5217828869690">Whatsapp</a>
        
