section.contact.mt-2.p-section#contact
  .break-points
    h2 Contacto
    .contact-container
      .contact-flex.mt-2
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-phone"></i></span>Teléfono oficina:
          p.format.phone (782) 11-1-21-97
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-mobile"></i></span>Celular personal:
          p.format.phone 782 829 5616
        .contact-flex__list-item
          p.format.contact-item <span class="contact-icon"><i class="fa fa-whatsapp"></i></span>Whatsapp:
          p.format.phone 782 886 9690
      .contact-flex.mt-2
        p.contact-text LLamanos sin compromiso estamos para servirle.
        p.contact-text O envía un whatsapp <a href="https://wa.me/5217828869690">Whatsapp</a>
        p.contact-text Soldadura en general en Poza Rica y Coatzintla Ver.
