footer.footer
  .footer-logo(class="wow fadeInUp" data-wow-duration="1s")
    h2.main-banner__text-title.footer-title Servicios Quintero <br>Soldadura y herrería<br>en Poza Rica Veracruz
  .footer-button.mt
    a(href="#home"): i.fa.fa-arrow-up