<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Servicios Quintero soldadura y herrería, portones, protecciones y galeras en Poza Rica y Coatzintla Veracruz, calidad y rápidez en nuestro trabajo.")
        meta(property="og:locale" content="es_MX")
        meta(property="og:title" content="Servicios Quintero, soldadura y herrería en Poza Rica Veracruz")
        meta(property="og:description" content="Servicios Quintero soldadura y herrería, portones, protecciones y galeras en Poza Rica y Coatzintla Veracruz, calidad y rápidez en nuestro trabajo.")
        meta(property="og:image" content="https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F15-img.png?alt=media&amp;token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Servicios Quintero - Soldadura y Herería")
        meta(property="og:url" content="https://serviciosquintero.now.sh/")
        meta(property="og:image:width" content="735")
        meta(property="og:image:height" content="403")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="Servicios Quintero, soldadura y herrería en Poza Rica Veracruz")
        meta(name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/poramoralascalles-1ce75.appspot.com/o/img%2F15-img.png?alt=media&amp;token=3b9faeba-8ed0-4d6d-8983-8b2c254cf06c")
        meta(name="twitter:description" content="Servicios Quintero soldadura y herrería, portones, protecciones y galeras en Poza Rica y Coatzintla Veracruz, calidad y rápidez en nuestro trabajo.")
        meta(name="google-site-verification" content="q1vC3qYP76py37ZUUmbzhB8aZ-hiGwRZVgcKSgEwA7M")
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="styles.css")
        title Servicios Quintero - Galeras, protecciones y portones en Poza Rica
       
    body
        include ../blocks/1-menu
        include ../blocks/2-banner
        main
          include ../blocks/3-services
          include ../blocks/4-experience
          include ../blocks/5-lightbox
          include ../blocks/6-contact
        include ../blocks/7-footer

        script(src="script.js")
          